        .button-set {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .button-set button {
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .button-set button.minus {
        background-color: #d9534f;
        color: white;
    }

    .button-set button.plus {
        background-color: #5bc0de;
        color: white;
    }

    #counter1 {
        width: 40px;
        text-align: center;
        margin: 0 10px;
    }

    .submit-button-container {
        text-align: center;
        margin-top: 20px;
    }

    #submitButton {
        width: 100%;
    }

    .button-set {
        display: flex;
        justify-content: space-between;
    }

    .button-set button {
            order: 2;
    }

    .submit-button-container {
        text-align: center;
        margin-top: 20px;
    }

    #submitButton {
        width: 100%;
    }

    body {
         background-color: #012265;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    h6, p, h2{
        font-weight: normal;
        color: #d3af37;
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
        box-sizing: border-box;
    }

    input, select, button {
        background-color: #d3af37;
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
        box-sizing: border-box;
    }

    select {
            font-weight: normal;
          background-color: #d3af37;
        max-width: 100%;
    }

    button {
          background-color: #d3af37;
           margin-top: 10px;
    }

    .checkbox-container {
        display: flex;
        align-items: center;
    }

    @media (max-width: 600px) {
        .image-container {
            flex-direction: row;
        }

        img {
            width: 45%;
            margin-bottom: 0;
        }
    }