{% extends "base.html"%}
{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>

        body {
            text-align: center;
            background-color: #012265;
        }

        /* Style for the select dropdown */
        select {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
            background-color: #d3af37;
            color : #012265;
        }
</style>
<br>
<a href="https://www.excaliburfrc.com/Login" style="color: #d3af37;">Login</a>
<h6 style="color: #d3af37;">or</h6>
<a href="https://www.excaliburfrc.com/ScoutGuest" style="color: #d3af37;">Scout As Guest</a>
{% endblock %}
