{% extends "base.html" %}
{% block title %}Scout{% endblock %}
{% block content %}

<form action="/process_form" method="post">
<br>
<script src="../templates/base.js"></script>
    <h3>AMP:</h3>
    <p>
        <button type="button" onclick="changeValue('amp_value', 1)">+</button>
        <span id="amp_value">0</span>
        <button type="button" onclick="changeValue('amp_value', -1)">-</button>
    </p>

    <input type="hidden" name="amp_value" id="hidden_amp_value" value="0">

    <h3>speaker:</h3>
    <p>
        <button type="button" onclick="changeValue('speaker_value', 1)">+</button>
        <span id="another_value">0</span>
        <button type="button" onclick="changeValue('speaker_value', -1)">-</button>
    </p>

    <input type="hidden" name="speaker_value" id="hidden_speaker" value="0">


    <p><button type="submit" name="submit_button">Submit</button></p>

</form>

{% endblock %}
