{% extends "base.html" %}
{% block title %}Scout{% endblock %}
{% block content %}

<form action="#" method="post">

    <h3>AMP:</h3>
    <p>
        <button type="button" onclick="changeValue('amp_value', 1)">+</button>
        <span id="amp_value">0</span>
        <button type="button" onclick="changeValue('amp_value', -1)">-</button>
    </p>

    <!-- Hidden input field to store the current value -->
    <input type="hidden" name="amp_value" id="hidden_amp_value" value="0">

    <h3>speaker:</h3>
    <p>
        <button type="button" onclick="changeValue('speaker_value', 1)">+</button>
        <span id="another_value">0</span>
        <button type="button" onclick="changeValue('speaker_value', -1)">-</button>
    </p>

    <!-- Hidden input field to store the current value for the second counter -->
    <input type="hidden" name="speaker_value" id="hidden_speaker" value="0">

    <script>
        function changeValue(elementId, amount) {
            var currentValue = parseInt(document.getElementById(elementId).innerText);
            var newValue = currentValue + amount;

            document.getElementById(elementId).innerText = newValue;

            document.getElementById("hidden_" + elementId).value = newValue;
        }
    </script>

    <p><button type="submit" name="submit_button">Submit</button></p>

</form>

{% endblock %}
