    .content-container {
        padding: 20px !important; /* Adjust the value as needed */
    }

    .form-group {
        display: flex;
        align-items: center;
    }

    h6 {
        margin-right: 10px !important; /* Adjust the spacing between h6 and select */
         margin-left: 20px;

    }

body, html {
    color: #d4af37;
    background-color: #012265;
}

.navbar {
    background-color: #012278;
}

.navbar a {
    color: #d4af37;
}

.navbar-collapse {
    color: #d4af37;
}
h8 {
    color: #d4af37;
}