{% extends "base.html"%}
{% block content %}Login

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
    body {
      text-align: center;
      background-color: #012265;
    }
    p, h2, button, input, label, h6  {
        color: #d3af37;
    }
    input[name="username"], input[name="password"] {
        background-color: #d3af37;
        color: #012265;
    }
    .button-set {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 150px;  /* Set the maximum width for the button set */
        margin: 0 auto;    /* Center the button set */
    }
    .button-set button, button {
        width: 100px;  /* Adjust the width of the +/- buttons */
        height: 30px;
        font-size: 16px;  /* Adjust the font size of the buttons */
        background-color: #d3af37;
        color: #012265;
        border: none;
    }
    .alert {
        padding: 20px;
        background-color: #f44336;
        color: white;
        margin-bottom: 15px;
    }
</style>




<form method="POST" action="{{ url_for('login') }}">
    <p>Username:</p>
    <label>
        <input type="text" name="username">
    </label>
    <p>Password:</p>
    <label>
        <input type="password" name="password">
    </label>
    <br>
    <br>
    <button type="submit">Submit</button>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    $("form").on("submit", function(event) {
        event.preventDefault();  // Prevent the form from submitting immediately
        console.log("Sending AJAX request");
        var form = this;

        $.ajax({
            url: $(form).attr("action"),
            type: $(form).attr("method"),
            data: $(form).serialize(),
            success: function(response) {
                if (response === "Login successful") {
                    alert(response);
                    window.location.href = "{{ url_for('scout') }}";
                } else {
                    alert("Not valid");
                    form.reset();
                }
            }
        });
    });
});
</script>

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="alert alert-success">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}
{% endblock %}