{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <br>
    <style>
        body {
      background-color: #012265;
    }
    h4, h5{
        color: #d3af37;
        text-align: center;
    }
    p{
        color: #d3af37;
        text-align: left;
        margin-left: 10px;
    }
    </style>
    <h4 class="text-center">How to?</h4>
    <h5 class="text-center mb-4">Welcome to the scouting system for the Crescendo 2024 season! Short guide to use:</h5>
    <h5 style="text-align: left; margin-left: 10px;">Scout:</h5>
    <p> When you wish to Scout, you must click on the "Scout" tab in the menu.
Clicking will direct you to a site with two links:
Login: When you click on the login link, you will be directed to a link where you can connect to the account that was given to you in advance. When you do normal scouting you must log in to your account so we can verify that you are the one doing the scouting.
Guest: If you do not have a username, you must select this option. If you are in a scouting team, you must contact the people in charge so that they can provide you with a username and password. When using Guest, your comment will not be verified.</p>

{% endblock %}
