{% extends "base.html" %}
{% block title %}Scout{% endblock %}
{% block content %}

<style>
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    h6 {
        font-weight: normal
    }

    h6, p, input, select, button {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
        box-sizing: border-box; /* Ensure padding and border are included in the width */
    }

    select {
        max-width: calc(100%);
    }

    button {
        margin-top: 20px;
    }
</style>

<head>
    <link rel="stylesheet" href="base.css">
</head>

<form action="{{ url_for('Autonomus') }}" method="post">

    <p>Your name:</p>
    <input type="text" name="scouter_name">

    <p>Qual Number:</p>
    <input type="text" name="qual_number">

    <p>Team:</p>
    <input type="text" name="team">

    <h6>Select Alliance:</h6>
    <select name="Alliances Options" id="alliance-select">
        <option value="">Please choose an alliance</option>
        <option value="Blue">Blue</option>
        <option value="Red">Red</option>
    </select>

    <br>
    <br>

    <img src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw0PDQ8NDQ0ODg0NDQ4NDg0NDg8OEA4NFREWFxURFRYYHyggGBolGxUVITEiJS03MC4uGB81ODMtODQtLi8BCg
    oKDg0OFxAQGi0lHR0tKy0tLS0tLTUvKy0tLS0tLS0yKy0rLS0rLS0tLSstLS01LS0tLS0rLS0tLS0tLS0vLf/AABEIAJ8BPgMBIgACEQEDEQH/xAAbAAEBAAIDAQAAAAAAAAAAAAABAAQGAgMFB//EADwQAA
    ICAQIEBAQEBAQFBQAAAAECAAMRBCEFEjFBBhNRYRQiMnEjYoGRB1KhsTNCcsEkQ+Hw8RVjc4KS/8QAGAEBAQEBAQAAAAAAAAAAAAAAAAEDAgT/xAAjEQEBAQADAAIBBAMAAAAAAAAAAQIDETEhQSIEEhNRQ
    mGR/9oADAMBAAIRAxEAPwD4rGAjIqjKMClKMIoiURAYyjAhOQgJyEohOQhOUCE5QEYDEQERKhjKUBjCMCjCUBlLMswqlLMoFKGYEwhMkVmYKoLMxwANyTPQ0nCLGUW2nyaf52GS3so9fuRMz4qqkY0ylNir
    2vysX9diPlPtkzi7kaZ47XPS8Pp0yizU4e4/TSCjBf8AVscH7zH1fFHLczNy8pyADgAe3pPI13FACQDzMRuTvg/9/wB55bG205OT79BOOrpr+7OPG48U1les03mUf4mlsPmqOprZRlxjqMhc+nKT3mvzq0Bu
    ocWVOAw7bgH2npfGaKzPnU2UWkHBpI5C+NvlIxjPpiMT+OdfTjV/fe/tgwjCasgYGJgYGAIyjIKUowKMIwGIgJyECnKERARGQjKGIgIiAxhGAxhGAxnGMBjOMYQgxnpaDiyjlr1dCaqgDl+cYurT0rsGGGPQ
    nE2Grw7oba1sqFprsP4dtTu4x3VxgsrAkZ2298gzjXJM+u5jvxpkp7vHvDllGHpruspwAzH8UrZ91VcjBHbI3z2J8Dm951nU1O4llnrlmGZsHAPBnENehs06VCsZJe25Ewo6ty7tj9Jzv4LTom5dSy6i3Gca
    ezNaHsSSuGHt/QSfvz/a5xa8fh/DbryfLACj6ndlRR+rEDPtPToGl0/zKvxD43ewMi1n7A5P32/WY/FOKswxYy/hDCIgCoB1wAOxx0ngaviZYla+hGPvOLq68bTOcevX4jxPcta3M2xAAAA9sD9p4duqttOF
    zj/pjeFekZjzWE/bvMxFAGAMCdTH9uNclvjHp0ajdvmP9JkxhO2SgRGEAMpQgRhGcTAwoyEZBSEowKIhGAiMBOQgURKMBjCMoRGEYCIicYwGMJQOUoSgMj7SlA6DqQDhgQftmZ2g4xqKQy0X2Vcx5mUHHzYx
    zYPfBIzDQ8G1OttWjSUWX39QtS5Kj1YnZR7kgT6VwD+E1VLJZxe34i/bGi07HlX/AFuMFu3TA9yJzrrr8vFz338NZ4L4y4hUDbYjanT1EedalbqUUno9i7YOejdfWb3VxHh2qRbfhaGLDI5qKCR99v0z/wCJ
    7J1/lp8NRVTp6ELJ5KciIiA45So35j9sD36TQPE/B+HhXvZatMB8y21p5fz77YySx6dN55Lc6vWG8lk/J7+pNlitycpwG8qqkCsAoGwuQBuW5Bn0OMdZ868XeKa9Smn8mkVOtCLdy7c1gzlv1yZsPgfxdQyv
    p9XZ/hkGm61uVmG/ylj39C3qQTjaYvHPB6agtrdPhS5LOuCamfucrnGc5yMg+x6sZk3+X06ur1+L5+qWWnJO3qZm00KnQb+p6z1Nfwa/ToLLAOXmCHAsBUkErkMoODg4PTaefPZOuvh5r338mUJSopShAoRh
    AoRhAIRhIMOMBGBCMpCAxgIiAiIhGAxhGAyhEQGMIwGM4xlDGEoDGcR1AGSSQAAMkk9AB3M+heFP4Va3VKNRxBv/AE7SbH8QD4mxfZDsn3bf8pgaHpqLLbFqpre21zhKqkax3Pso3M+neGP4Q2MFv4zeNLUd
    xpKnU3PtnDvuF2B2XJ9xNx0o4bwlBTwyquln+W3V37W2AdMu+MjOcY29AJj6zUM6sxuN9tgZVdrOaqoY7di32G3bPWebf6iT4z8tc8VvrP0Oro0tB0/DtKmj04JAsVDmzrhmZt2fAGScnfv1nkam0tY2C5b5e
    Z3GbGIOcZH0nJ7ZmBr76NNV8Rq7UqrA5edixLv1KoPqY+w/Uz5r4k8eXagGjRK2m0x2JG19o78xH0g/yr+pMzzx75PnTu3OPG0eI/F2m0fNUh+J1OTmsNlK2z/zGHf8o39cT5pxLiWq1tvmXOXIzyqNkrU9lH
    YTqo0ZO7bD07zNVABgDAnqziZ8Y61a8kqyn0Ino8O1r1712WVP/NW7Vk/qplfpw2/Qzr+HbbBG3tOqnbYavE2s5DXY6aiojlNeoQWKRt1Iw3Yd+wmBqrK2bmqp8kY3rFj2Lzeql8sB7En7zAQOpyRt35f7zvB
    kmZPC231yhKU6RShKQUpQgUIwgEpQgYgjAREBlKMCiIRgMYRgMYCUBjCMBlCMBjOOZsHhTwbxHijf8JQfJzhtXdmuhfX5sfOfZQT64geATNx8I/w44nxLlsCDSaQ7/FalSOZfWuvYv99h7z6H4c8HcC4XafiW
    Ov4hSRlr68U1PgMCiH5R2PMcn0MzeP8AibU24r5kpR+dRUvmjbs7WBT03GMYOSR0BmW+bOfifNd547XHhfAOF8KQJw4fFcSbA+MtVLnXf5uX/Kgxn6R98y1/GbtSfmtb5HwQhyF3xzYAxvnqeg7Tgl4CZRSr
    OgrDA/MKR2BH0rt92+0wuK8U0mgrF+st8nmT8NFAbUanAx+HX6duZjgZ6zy975b/AKb9ZxHpVWWE4HPYzbjDNUdttwu+MDqT+00rxR480mkLV6bk1us3DPzFtPUfdxvafZTj3PSad4q8d6vXc2noB0ujY4NNb
    E2XD/3rP8/+kYX27zXKdIBu259O09PHwzLLXJa7eI67V66436m1rXO3M2yqvZUUbKPYbTlTQq9Nz6mdgEZsy7UpSgUpSgUYSgMJSgUJSgUJSgUJSgUJSgYshKUBjCMCjCMBjCMCEYRgMoTJ4dob9Tcun0tNl9
    z/AE1VKXbGcZOOg9zsIHRPS4DwDW8Qt8nQ6d73GOYrtXWPV3Oy/r+mZ9O8MfwcSuv4vjt4StBztpabOUKPS20f2T/9GbTrvFun0dQ0vCdNVVTX1ZPLUVpnBcVrlidxuR1O853vOfVzm68eDwL+GXDeHKt/Grl
    1eo5ecaSsHyFwN8jrZj1bC+0967xnYa3OlpFOkpQoprVflfGFTAxv6Benea0lvxFjai17rCzOwcVuCg3AXcYXY/Uc9dh1yWCt0SofhVVkeXRRh1DgjD8x3dj6n9ux8euber1HozxZnrI0epJ5WK+ajKSMswLE
    EZPPtz9d89+sz9Nq2sy9WERFLWXWs+KlHUu1nyIB/TG08Tj3GtHw8c2udm1BUeXoKm5tQVAAUWscilcY6/MewnzHxJ4s13Ej5bEU6RWzXpKeZaV9GbvY/wCZsn0x0nXHwfdTXL9Ruvij+JFFHNTwzGp1G4bXWr
    mmtvWmtv8AEP5n222B6z5rqbNRqrWv1Nr222Hmey1izsfuZU6cLudz6zvnrmZPGFvbjXWFGAJ2CEpUMpSgUpSgUpSgUpQgMoSgMJSgUJSgUIwgUDGEDGkJSgMYCMCjCIgMRCROIDOVaMzBEVndjyqiKWZj6AD
    cmevwbw3qNSQz/gUn/Ow+dh+Vf9z/AFn0PgC8O4YpNKK94wjOzKbWYjYM5+kew/aLZPm0kt8ef4Q/hJqdQBfxSz4PTgcxpUqdQy/mP01Dp6n2E3XiGr0Og03wPBKzS7WIXv04Uu4U5PM7ZZyenN+08TXcb1Wrb
    lY8qKxVKw/JWGB3tc+gPTuSDicNMRXW1VHPc1gKXap033yfLr7jr3x16Tycv6j6w3xw/enbq+J32owusZuSz5Fa5riSR1JzkDrtjHXaY9GqalVzfYqWLzKlLnnAbfJ3AX7ZMx6tGVfyKua6xmPyIxswPQH9Mn
    t0nm8e8R6DRZVuXXa0beRU/wDw1Ljb8WwfWR/Ku2xBImeOK69aa309skNW2pufytOmBZrNbaXC/lTbdvyrkzUeO/xD5c0cIVq8gq/ELVHxD/8AxLuKV677tv1E1TjPGNZxCwW6q0sEBWqsAJVSn8laDZR0++N8
    zHrrC9P37z1445l59btdYpZmL2kszEsxJJLMTkknuZkKANhKM0cKMJQGMJQGUJQGUJQGUIwKUpQKUJQGEpQKEpQKUpSKIGMIGPIQiJUMYRgUoEz0tDwpn+e3Kp2QfW3t7f3+0W9eknbF0mlsublrXPqx2VfuZt
    PCeDU0lXcG2zP1chYIfyp9+/X+0zNPojUUpCotzDm8v/l6evqXs9Wx2nea2d0qrZgC45ncnPIASxONgMDoJ59c1/xbZ4/7Z/K/ylTzc2cqRy8qbglsnZvQf2nKzS1uMNZpqxsagLLOdXz1AHU474z6TC1flMw5
    UK1rvgMed+w3P0r/AFJO87tMjsCyclVVY5nfPlVVr6u5/wByTPP+3er227xPh3VN5a8vxLuoYsETSUryt33sXIz6gZnZxHXrVWLtbcdLQVPl15NupvX0RScke5woyJrfF/GVNGa9Ao1F+4+MtT8Os+tNZ+o/m
    b06TTdTZdfY12pse2xzlmdizH7k/wBp6McE9rLXL9R73HPGWo1CtptEh0ekbKuEbN149brOpH5Rgb95r9WnA3O5nYqgbCcp6JJPGNvaEYRhDKEYDKEYFKUoDKEoDKEYFKUpBSlKBShKAwlKBSlCAwlKFUJSgY
    8oCMqGSqWIVQST0AlVWzsEQZJ/YD1PtNu4BwepUa5x5gTA5e9j9gR2Scb3Mx1nN0w+EcFwPNfGQObmP0gflHffbP7d5svDaOUh2wrBWdFIz5aDbzG/MSRgTFxYzc55gSApYnkAHZc9h02mQlgA8pQXLEFuQH5
    iOgJ64G//AFnl5LdXq3/j0YkzDpeRlyWKvZY/OVQNa+PorRjsAOp/7xmG9mrppQlrkVlZ6wQTn/IMdZ4PEON6ajIezncDl8jTkMcfys/0qPYZ+01riPiLU3hqqwKKG2aurILj0d+rfbp7TrPDbe6muSSdRtfE
    +OaTTE+a/wAVeAF8il8quNsWW7gYx0GT9pqPF+N6vW4FrBKVOa6KhyUp7he59zk+8wK6QOu5ndPTMyMLq1xrrA6fvOyAjOnKEYRgQjCMCEYRkFGEoDKEoDKUoVSlKEUpShVKUoFKUoFKUoBKUoFCUoFCUoGPA
    ZJAG5JwB6mBjXYyEOpwy9DgHH7yo2nhPC+Rfm2J3OxLWH0A/lEztTrK6/qsSkL05mBsH2A3H6D95pF3EtQ+ee+1geoLtg/pOhUJmX8Xd71Wv8nU6jadT4koU/hq979OZyUT/diP2nj6zjWqvBQvyVnrVUPLTH
    ocbt/9iZhrSO+87QJpMyeOLq11JR6/tO4CQjK5IjOMYDGcYwpkIRzAZQlmQcpQzKAxnGOYDKEoDKEoDKEoDKEYDKEoDKEoFKEoDCUIDCUIDCUoH//Z" alt="img//AMP.png">

</form>

{% endblock %}
